:root {
  --primary-color: #dc3806;
  --primary-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  --primary-text-color: #3f4649;
  --font-family: "B612", sans-serif;
  --background-color: #efefef;
}

/* ------- general -------*/

.Logo {
  padding: 0;
  margin: 0;
}

.container {
  background-color: var(--background-color);
}

/* ------- general -------*/

/* ------- home -------*/

.Logo > h1 {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home__logo > h1 {
  font-size: 5rem;
}

.home__logo {
  align-self: center;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.home__container > h2 {
  width: 100vw;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
  align-self: center;
  margin-bottom: 45px;
}

.home__button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--font-family);
  font-size: 30px;
  border-radius: 20px;
  max-width: 235px;
  height: 4rem;
  width: 20rem;
  align-self: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 14rem;
  transition-duration: 0.4s;
}

.home__button:hover {
  cursor: pointer;
  background-color: #e35d34;
}

/* ------- home -------*/

/* ------- user -------*/

.userform__container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.userform__form-container {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.625rem;
  box-shadow: var(--primary-shadow);
  width: 36.5rem;
  height: 48rem;
  align-self: center;
  align-items: center;
  background-color: white;
  padding: 3.425rem 4.125rem 5.5rem;
  border-top: 0.275rem solid var(--primary-color);
}

.userform__logo {
  margin: 2rem;
  position: fixed;
  top: 0;
  left: 0;
}

.userform__logo > h1 {
  font-size: 2.5rem;
}

.userform__radio-container {
  display: flex;
  flex-direction: row;
  grid-row: 2 / 2;
}

.userform__radio-label {
  font-family: "B612", sans-serif;
  padding: 0.48125rem 6.1875rem 0.48125rem 1.03125rem;
  width: 9.625rem;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  font-size: 1.03125rem;
  cursor: pointer;
  background-color: #f7f7f7;
}

.userform__radio-label:before {
  content: "";
  height: 1.03125rem;
  width: 1.03125rem;
  border: 0.0625rem solid #818181;
  border-radius: 50%;
  margin-right: 1.03125rem;
}

input[type="radio"]:checked + label:before {
  content: "";
  background-color: white;
  height: 0.48125rem;
  width: 0.48125rem;
  border: 0.34375rem solid #dc3806;
  border-radius: 50%;
  margin-right: 1.03125rem;
}

.left-element {
  grid-column: 1 / 2;
  justify-self: flex-start;
}

.right-element {
  grid-column: 2 / 3;
  justify-self: flex-end;
}

.full-element {
  grid-column: 1 / 3;
  justify-self: center;
}

/*  Title  */

.userform__title-container {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  justify-self: center;
}

.userform__title-container > h2 {
  font-family: var(--font-family);
  color: var(--primary-text-color);
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  padding-bottom: 1.875rem;
}

/*  Task text  */

.userform__description {
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-top: 2.0625rem;
  font-family: var(--font-family);
  font-size: 1.05rem;
  line-height: 1.76rem;
  text-align: justify;
}

.userform__text-input {
  width: 9.5rem;
  padding: 0 0.55rem;
  border: 0.03125rem solid #b1b4b6;
  margin-top: 2.0625rem;
  border-radius: 0.3125rem;
  height: 2.53rem;
  background-color: #f7f7f7;
  font-size: 1rem;
}

/*  Button  */
.userform__button {
  margin-top: 2.0625rem;
  width: 36.3rem;
  height: 3.4375rem;
  font-size: 1.375rem;
  border: 0.20625rem solid var(--primary-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  border-radius: 0.3125rem;
  background-color: white;
  cursor: pointer;
  font-weight: 700;
}

.userform__button:hover {
  color: white;
  background-color: var(--primary-color);
}

.userform__button:hover:disabled {
  background-color: #e35d34;
  border-color: #e35d34;
  cursor: not-allowed;
}

.userform__select-input {
  margin-top: 2.0625rem;
  width: 16.98125rem;
  height: 2.64rem;
  background-color: #f7f7f7;
  border: 0.03125rem solid #b1b4b6;
  cursor: pointer;
  border-radius: 0.3125rem;
  padding: 0 0.55rem;
  font-size: 1rem;

  /*  Replacing the default arrow  */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 0.9625rem 0.61875rem;
  background-image: url(./icons/expand.svg);
  background-repeat: no-repeat;
  background-position: right 1.03125rem top 50%;
}

@media only screen and (max-width: 1900px),
  only screen and (max-height: 960px) {
  .userform__form-container {
    width: 33rem;
    height: 43rem;
    padding: 3.125rem 3.75rem 5rem;
    border-top: 0.25rem solid var(--primary-color);
  }

  .userform__radio-label {
    padding: 0.4375rem 5.625rem 0.4375rem 0.9375rem;
    width: 8.75rem;
    font-size: 0.9375rem;
  }

  .userform__radio-label:before {
    height: 0.9375rem;
    width: 0.9375rem;
    margin-right: 0.9375rem;
  }

  input[type="radio"]:checked + label:before {
    height: 0.4375rem;
    width: 0.4375rem;
    border: 0.3125rem solid #dc3806;
    margin-right: 0.9375rem;
  }

  .userform__title-container > h2 {
    font-size: 1.87rem;
    padding-bottom: 2.0625rem;
  }

  .userform__description {
    margin-top: 1.875rem;
    font-size: 0.9375rem;
    line-height: 1.6rem;
  }

  .userform__text-input {
    width: 8.125rem;
    padding: 0 0.5rem;
    margin-top: 1.875rem;
    height: 2.3rem;
  }

  .userform__button {
    margin-top: 1.875rem;
    width: 33rem;
    height: 3.125rem;
    font-size: 1.25rem;
    border: 0.1875rem solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    border-radius: 0.3125rem;
    cursor: pointer;
    font-weight: 700;
  }

  .userform__select-input {
    margin-top: 1.875rem;
    width: 15.4375rem;
    height: 2.4rem;
    padding: 0 0.5rem;
    background-size: 0.875rem 0.5625rem;
    background-position: right 0.9375rem top 50%;
  }

  .userform__button:hover {
    color: white;
    background-color: var(--primary-color);
  }

  .userform__button:hover:disabled {
    background-color: #e35d34;
    border-color: #e35d34;
    cursor: not-allowed;
  }
} /* ------- user -------*/ ;
