:root {
	--primary-color: #dc3806;
	--primary-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
	--primary-text-color: #3f4649;
	--font-family: "B612", sans-serif;
}

.userform__container {
	background-color: #efefef;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.form__container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	box-shadow: var(--primary-shadow);
	width: 525px;
	align-items: center;
	background-color: white;
	padding: 40px 60px;
}

.userform__radio-buttons {
	display: flex;
	flex-direction: row;
	width: 525px;
}

.userform__radio-container {
	display: flex;
	flex-direction: row;
	grid-row: 3 / 4;
}

.userform__radio-label {
	font-family: "B612", sans-serif;
	padding: 7px 90px 7px 15px;
	width: 140px;
	border-radius: 5px;
	display: flex;
	font-size: 15px;
	align-items: center;
	cursor: pointer;
	background-color: #f7f7f7;
}

.userform__radio-label:before {
	content: "";
	height: 15px;
	width: 15px;
	border: 1px solid #818181;
	border-radius: 50%;
	margin-right: 15px;
}

input[type="radio"]:checked + label:before {
	content: "";
	height: 7px;
	background-color: white;
	width: 7px;
	border: 5px solid #dc3806;
	border-radius: 50%;
	margin-right: 15px;
}

.left-element {
	grid-column: 1 / 2;
	justify-self: flex-start;
}

.right-element {
	grid-column: 2 / 3;
	justify-self: flex-end;
}

.full-element {
	grid-column: 1 / 3;
	justify-self: center;
}

/*  Logo  */
.Logo {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	padding: 0;
	margin: 0;
	justify-self: center;
	padding-bottom: 20px;
}

.Logo > h1 {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--primary-color);
	padding: 0;
	margin: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Logo__userform > h1 {
	font-size: 35px;
}

/*  Title  */

.userform__title-container {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	justify-self: center;
}

.userform__title-container > h2 {
	font-family: var(--font-family);
	color: var(--primary-text-color);
	font-size: 20px;
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}

/*  Task text  */

.userform__description {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	font-weight: 400;
	font-family: var(--font-family);
	font-size: 15px;
	line-height: 1.4rem;
}

.userform__text-input {
	width: 130px;
	padding: 0 8px;
	margin-top: 30px;
	border: 0.5px solid #b1b4b6;
	height: 35px;
	border-radius: 5px;
	background-color: #f7f7f7;
}

/*  Button  */
.userform__button {
	margin-top: 30px;
	width: 525px;
	height: 50px;
	font-size: 20px;
	color: var(--primary-color);
	font-family: var(--font-family);
	background-color: white;
	border: 3px solid var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	font-weight: 700;
}

.userform__button:hover {
	color: white;
	background-color: var(--primary-color);
}

.userform__select-input {
	margin-top: 30px;
	width: 247px;
	height: 35px;
	background-color: #f7f7f7;
	border: 0.5px solid #b1b4b6;
	border-radius: 5px;
	padding: 0 8px;

	/*  Replacing the default arrow  */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
